/FrontEnd/node_modules
/FrontEnd/.pnp
/FrontEnd/.pnp.js
/FrontEnd/coverage
/FrontEnd/build
/FrontEnd/.DS_Store
/FrontEnd/.env.local
/FrontEnd/.env.development.local
/FrontEnd/.env.test.local
/FrontEnd/.env.production.local
/FrontEnd/npm-debug.log*
/FrontEnd/yarn-debug.log*
/FrontEnd/yarn-error.log*
/BackEnd/node_modules
/BackEnd/.env
/BackEnd/.pnp
/BackEnd/.pnp.js
/BackEnd/# testing
/BackEnd/coverage
/BackEnd/# production
/BackEnd/build
/BackEnd/# misc
/BackEnd/.DS_Store
/BackEnd/.env.local
/BackEnd/.env.development.local
/BackEnd/.env.test.local
/BackEnd/.env.production.local
/BackEnd/npm-debug.log*
/BackEnd/yarn-debug.log*
/BackEnd/yarn-error.log*